APP_NAME="Beyond Barista Academy"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/bbacademy
APP_TIMEZONE=Africa/Kigali
APP_LOCALE=en

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=beyond_barista_lms
DB_USERNAME=root
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="info@beyondbarista.rw"
MAIL_FROM_NAME="Beyond Barista Academy"

PAYMENT_CURRENCY=RWF
PAYMENT_STRIPE_KEY=
PAYMENT_STRIPE_SECRET=
PAYMENT_FLUTTERWAVE_PUBLIC_KEY=
PAYMENT_FLUTTERWAVE_SECRET_KEY=
PAYMENT_PAYPAL_CLIENT_ID=
PAYMENT_PAYPAL_SECRET=
PAYMENT_MOMO_TEST_MODE=true
